.radar-container{
    display: flex;
    align-items: center;
    width: 258px;
    height: 268px;
    background-color: #282D30;
    border-radius: 5px;
}
.radar-text{
    color: #FFF;
    font-size: 12px;
    font-weight: 500;
}
.recharts-polar-grid-angle line {
    display: none;
}

@media (max-width: 1225px) {
    .radar-container {
        width: 220px;
        height: 220px;
    }

}